.GeneratorView {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.GeneratorView-Banner {
  margin: 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9c0100;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 5rem;
  user-select: none;
}

.GeneratorView-Banner:before,
.GeneratorView-Banner:after {
  display: block;
  margin: 1rem 2rem;
  width: 5rem;
  height: 5rem;
  background: transparent url("/logo-white.png") no-repeat center center;
  background-size: cover;
  content: "";
}

.GeneratorView-Result {
  margin: 0 2rem;
  padding: 0 0 7rem;
  font-weight: 800;
  color: #9c0100;
  text-align: center;
  font-size: 6rem;
}

.GeneratorView > button {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 0.875rem 1.5rem;
  background: #9c0100;
  border: 0;
  color: #fff;
  font-size: 2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &:hover {
    transform: translate(-50%, 0%) scale(1.1);
  }

  &:disabled {
    transform: translate(-50%, 8rem);
  }
}