.Header #logo {
  display: block;
  margin: 2em auto;
  width: (366/16em);
}

.Words {
  display: block;
  margin: 2em auto;
  width: 90%;
  max-width: (850/(16*2)em);
  font-size: 2em;
  color: #D21E31;
  line-height: 1.25;
  letter-spacing: 1px;

  @media (min-width: 900px) {
    min-height: 4em;
    font-size: 3em;
    max-width: (850/(16*3)em);
  }

  &.isRolling {
    color: #888;

    &.onWord1 {
      :nth-child(1) {
        color: #D21E31;
      }
    }

    &.onWord2 {
      #word_1,
      #word_2 {
        color: #D21E31;
      }
    }

    &.onWord3 {
      #word_1,
      #word_2,
      #word_3 {
        color: #D21E31;
      }
    }

  }

}

#roll {
  display: block;
  margin: 1em auto;
  padding: 0.5em 1em;
  font: inherit;
  font-size: 1.5em;
  background: #D21E31;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    display: none;
  }
}

.Footer {
  margin: 3em auto;
  max-width: (850/(16*1.5)em);
  line-height: 1.45;
  text-align: center;
}

.Footer-Odds {
  margin-bottom: 3em;
  font-size: 1.5em;
}